body {
    width: auto;
    margin: 0 auto;
    color: white;
    overflow: auto;
    background: radial-gradient(ellipse at bottom, hsl(236, 20%, 20%) 40%, #090a0f 100%);
    font-family: "Open Sans", sans-serif;
}

h1 {margin: 0;}
h2 {margin: 0;}

/* scrollbar style */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: black;}
::-webkit-scrollbar-thumb {background: hsl(0, 0%, 15%);}
::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 20%);}

/* Google Translate tool */
#google_translate_element {display: flex; justify-content: end;}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(1), div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(2), div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(3) {display:none;}
div#google_translate_element div.goog-te-gadget-simple {margin:0px; padding:10px; display:inline-block; background-color:black; border:none; border-radius:10px; font-size:16px;}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value {color:rgb(255, 0, 0);}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value::after{content:"Translate Site"; padding-right:5px;}
div#google_translate_element div.goog-te-gadget-simple img:nth-of-type(1) {display:none;}
#\:0\.targetLanguage > span > a > span:nth-child(1) {color: white;}
.VIpgJd-ZVi9od-ORHb-OEVmcd {display: none;}

.hero {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    flex-grow: 0;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 102, 255, 0.425);
    padding-top: 30px;
    border-top: hsl(0, 0%, 60%) 2px solid;
    border-left: hsl(0, 0%, 60%) 2px solid;
    border-right: hsl(0, 0%, 60%) 2px solid;
    width: 99%;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    flex-grow: 0;
    gap: 20px;
}

.bottom-card {
    display: flex;
    flex-direction: row !important;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    background-color: black;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    flex-grow: 0;
}

.bottom-card > a {
    padding-inline: 6px;
    text-decoration: none;
    font-size: 24px;
}

.bottom-card > a:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline: 50px;
}

.crop {object-fit: cover;}

.intro-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    color: white;
    border: none;
    max-height: 55px;
    border-radius: 10px;
    padding-inline: 30px;
    padding-block: 6px;
    margin-top: 20px;
    margin-inline: 20px;
    font-size: 20px;
    background-color: black;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}

hr {
    display: block;
    height: 1px;
    width: 30%;
    border: 0;
    border-top: black 1px solid;
    margin: 0 auto;
    padding: 0;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca atrás dos outros elementos */
}

@media (max-width: 700px) {
    .hero {flex-direction: column; gap: 1em;}
    .card {margin-top: 20px;}
    .introduction {width: 95%;}
}