<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta name="description" content="Diego Lima Portfolio. Specializing in programming front, back-end and 3D art experiences">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/druk-wide-bold">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/akzidenzgrotesk">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Diego Lima - Portfolio</title>
  </head>
  <body>
    <div class="hero">
      <div class="hero-left">
        <!-- <div style="width: 200px; height: 200px; background-image: url('images/Lemon.png'); border-radius: 100%; background-position: center;  background-size: 150%"></div> -->
        <!-- <img src="images/ProfilePic.png" alt="Diego Lima - Portfolio Profile Picture" width="200" height="200" style="border-radius: 100%; object-fit: scale-down(100%);"> -->
        <h1 style="line-height: 0%; color: rgb(0, 221, 221); font-size: 1.7rem; font-weight: 100; white-space: nowrap;">Hey, my name is</h1>
        <h1 style="line-height: 120%; font-size: 5rem; white-space: nowrap; background-image: linear-gradient(45deg, #a200ff, #b3ff00); background-clip: text; -webkit-text-fill-color: transparent;">Diego Lima</h1>
        <h1 style="font-size: 1.5rem; font-weight: 400;  color: hsl(0, 0%, 85%); white-space: nowrap;">But you can call me <span style="color: lime">Lima</span></h1>
        <p style="word-wrap: break-word; color: gray; font-size: 1.1rem; line-height: 110%; text-align: justify; margin-top: 2%;">I am a 26 years old Brazilian who loves technology and have been studying and working with 3D art and programming projects for years</br>You can check out my projects by selecting an option in the menu on the right</br></br>To get a project budget is simple, choose one of the options below and get in touch</p>
        <ul>
          <li>
            <a href="https://discord.com/users/346480864894517259" target="_blank" alt="Diego Lima Discord" title="Discord">
              <span></span>
              <span></span>
              <span></span>
              <span class="fa-brands fa-discord"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" alt="Diego Lima Artstation" title="Artstation">
              <span></span>
              <span></span>
              <span></span>
              <span class="fa-brands fa-artstation"></span>
            </a>
          </li>
          <li>
            <a href="mailto:diegosalima@outlook.com" target="_blank" alt="Diego Lima Email" title="email: diegosalima@outlook.com">
              <span></span>
              <span></span>
              <span></span>
              <span class="fa-solid fa-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="hero-right">
        <h1><a href="3d-artist" style="text-decoration: none; text-indent:-9999px;">3D ARTIST</a></h1>
        <h1><a href="programmer" style="text-decoration: none; text-indent:-9999px;">PROGRAMMER</a></h1>
      </div>
    </div>
  </body>
</html>